footer.container#contacts
    .row
        .offset-md-1.col-md-10
            h2 Контакты
        .offset-md-1.col-lg-4.col-xl-3
            p Украина, Киев, ул. Паньковская 14/5
        .offset-md-1.offset-lg-0.col-md-4.col-lg-3.col-xl-2
            p
                a(href='tel:' title='' class='link-footer') +38 095 000 00 00
            p
                a(href='tel:' title='' class='link-footer') +38 095 000 00 00
        .col-md-2
            ul.messengers
                li
                    a(href='' title='')
                        img(src='img/viber.png' title='' alt='')
                li
                    a(href='' title='')
                        img(src='img/whatsapp.png' title='' alt='')
        .offset-md-1.offset-xl-0.col-lg-5.col-xl-4
            p(style='color:#a2a2a1')
                | E-mail:
                a(href='' title='' class='link-footer')
                    |  study-and-ukraine@gmail.com
            p(style='color:#a2a2a1')
                | Skype:
                a(href='' title='' class='link-footer')
                    |  Study.and.Ukraine
    .row.last-row
        .offset-md-1.col-md-5.col-lg-7
            ul.social-footer
                li
                    a(href='' title='')
                        i.fa.fa-facebook
                li
                    a(href='' title='')
                        i.fa.fa-google-plus
                li
                    a(href='' title='')
                        i.fa.fa-instagram
        .col-md-4.col-lg-3
            p.copyright (C) Все права защищены



script(type="text/javascript" src="js/main.js")

