header.header-slider
        .row
            .col-12
                .slider-head
                    img(src='img/slider/slide1.png' title='' alt='')
                    img(src='img/slider/slide1.png' title='' alt='')
                    img(src='img/slider/slide1.png' title='' alt='')
                .univ-description
                    h1 Киевский национальный университет имени Тараса Шевченко
                    h2 Киевский национальный университет имени Тараса Шевченко сегодня - это классический университет исследовательского типа.







