header
    .container
        .row
            .offset-md-1.col-md-10
                .jumbo
                    h1 Study & ukraine
                    h2 доступное образование в украине
.spacer-70-yellow







