nav
    .container
        .row
            .col-6.col-md-2
                ul.nav-header
                    li
                        a(href='index.html' title='' class='logo')
                            img(src='img/logo/logo-small.png' title='' alt='')
            .col-6.nav-menu-icon
                .nav-icon
                    span
                    span
                    span
                    span

            .col-md-10
                .nav-panel
                    ul
                        li
                            a(href='#university' title='Университеты' class='smooth') Университеты
                        li
                            a(href='#service' title='Услуги и Цены' class='smooth') Услуги \ Цены
                        li
                            a(href='#bonus' title='Бонусы' class='smooth') Бонусы
                        li
                            a(href='#about' title='О нас' class='smooth') О нас
                        li
                            a(href='#ukraine' title='Об Украине' class='smooth') Об Украине
                        li
                            a(href='#contacts' title='Контакты' class='smooth') Контакты
                        li
                            a(href='#partnership' title='Партнерство' class='smooth') Партнерство
                        li.lang.lang-first
                            a(href='' title='RU' class='active') RU
                        li.lang
                            a(href='' title='ENG') ENG
                        li.lang
                            a(href='' title='AZ') AZ


