.about
  background url('../img/about.png') no-repeat center center
  background-size cover
  padding-top: 62px;
  h2
    margin-bottom 25px

.about-list
  margin 90px 0 0
  padding 0
  +mobile()
    display flex
    flex-direction row
  li
    list-style none
    position relative
    +mobile()
      flex 1 1 50%
      max-width 50%
    .icon-circle
      span
        width 70px
        height 70px
        &:after, &:before
          display block
          background transparent
          border: 1px solid $white
    .person-1
      span
        background url('../img/person/person-1.png') no-repeat center center
        background-size cover
    .about-person
      margin 0
      padding 0
      position absolute
      width: 243px;
      top -38px
      background $white
      border-radius 5px
      box-shadow: 0 6px 60px 0 rgba(0, 0, 0, 0.23)
      left -269px
      z-index 100
      display none
      transitions()
      +mobile()
        display none
      li
        img
            width calc(100% + 19px)
        .person-description
          padding 26px
          h4
            color $gray3
            font-size 1.125em
            font-weight 400
          p
            font-size 1.125em
            margin-bottom 23px
    .about-person.active
      display block

.person-social
  margin 0
  padding 0
  display flex
  flex-direction row
  li
    list-style none
    margin-right 6px
    a
      display flex
      justify-content center
      align-items center
      width 36px
      height 36px
      background $gray3
      color $white
      border-radius 50%
      font-size 1.25em
      &:hover
        background transparent
        color $gray3

.whywe
  background rgba(31,127,182,0.62)
  margin-top: 14px;
  padding-top 109px
  padding-bottom: 83px;
  +mobile()
    padding-left 0
    padding-right 0
  .icon-circle
    +mobile()
      margin-top 40px
    +portrait()
      margin-top 40px
    span
      &:after
        display block

.students
  .about-list
    flex-direction row
    display flex
    li
      margin-right 60px
      .icon-circle
        span
          &:after, &:before
            display block
            background transparent
            border: 1px solid $black
      ul
        width: 630px;
        height: 269px;
        top -320px
        left -50px
        +mobile()
          display none !important
        &:after
          bottom: -40px;
          left: 65px;
          pseudo(block,absolute)
          border: 20px solid transparent;
          border-top: 20px solid $white;
          z-index: 60;
          opacity: 1
        li
          list-style none
          width 100%
          height 100%
          .person-description
            padding 30px 74px 54px 129px
            position relative

            h3
              font-size 1em
              line-height: 2.91;
              letter-spacing: 0.4px;
              font-weight 700
            p
              line-height 1.57
              font-size .875em
            &:after
              display block
              position absolute
              content '"'
              color $yellow
              font-size 7em
              top 30px
              left 50px


