.univ-main
  background $gray
  position relative

.degree
  padding-top 101px

.fixed
  position fixed
  top: 10px;
  z-index: 9999;

.affix-panel
  position absolute
  background $yellow
  top 0
  bottom 0
  right 0
  width 37%
  z-index 30
  +mobile()
    position static
    width 100%
  +portrait()
    position static
    width 100%
  h4
    font-weight 1.125em
    color $text-color
    margin-left 20px
    margin-bottom 35px
    letter-spacing 1.2px
  form
    padding 105px 83px 10px
    +mobile()
      padding 55px 15px 10px
    +portrait()
      padding: 85px 100px 10px;
    +tablet()
      padding: 105px 50px 10px;
    input
      background transparent
      border-color $white
      margin: 10px 0;
      max-width 295px
      color $white
      +mobile()
        max-width unset
      &:focus
        border-color $blue
    .selectic
      max-width 295px
      +mobile()
        max-width unset
    select
      background transparent
      border-color $white
      margin: 10px 0
      max-width 295px
      color $white
      +mobile()
        max-width unset
      &:focus
        border-color $blue
    .button
      background $white
      margin 47px 0
      &:hover
        background $blue
      +mobile()
        max-width unset

.edu-prices
  display flex
  margin 0
  padding 0
  flex-direction row
  margin-bottom: 87px;
  justify-content space-between
  +mobile()
    flex-wrap wrap
  li
    list-style none
    font-size 1.125em
    line-height: 1.22;
    font-weight 700
    +mobile()
      flex 1 1 100%
      max-width 100%

.counter
  float: right;
  display inline-block
  font-size 16px
  color $white
  background $blue
  border-radius 15px
  margin: 5px 0;
  padding: 5px 24px
  font-weight 700

.categories
  margin 55px 0 0
  padding 0
  li
    list-style none
    font-size 1.125em
    font-weight 700
    margin-bottom 10px
  ul
    margin 20px 0
    padding 0
    li
      padding-left 30px
      list-style none
      font-weight 400
      color $text-color2
      font-size 18px
      margin-bottom 5px

.training
  background url('../img/univ/prepare.png') no-repeat center
  background-size cover
  padding-top 118px
  padding-bottom 120px
  margin-top: 110px;
  h2
    margin-bottom 40px
  .button
    margin 0

.students
  padding-top 103px
  padding-bottom 113px
  .icon-circle
    span
      &:after, &:before
        display block
        background none
        border 1px solid $black

.official
  background url('../img/univ/docs.png') no-repeat center
  background-size cover
  padding-top 88px
  padding-bottom 98px
  h2
    margin-bottom: 36px;
  p
    font-size 1.125em
    margin-bottom: 44px;

.document
  color $blue
  font-size .875em
  &:hover
    color $text-color
  .fa
    font-size 28px
    margin-right 10px

.univ-about
  padding-top 101px
  //padding-bottom 101px

.univ-about-container
  height 130px
  overflow hidden
  margin-bottom 30px
  transitions()
  &:after
    pseudo(block,absolute)
    width 100%
    height 150px
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 66%, rgba(255,255,255,1) 100%);
    bottom 20px
    left 0
    right 0

.univ-about-container.open
  height auto
  &:after
    opacity 0
    z-index -10

.courses-about-container
  height 600px
  overflow hidden
  margin-bottom 30px
  transitions()
  &:after
    pseudo(block,absolute)
    width 100%
    height 150px
    background: linear-gradient(to bottom, rgba(249,249,249,0) 0%, rgba(249,249,249,1) 66%, rgba(249,249,249,1) 100%);
    bottom 20px
    left 0
    right 0
.courses-about-container.open
  height auto
  &:after
    opacity 0
    z-index -10

.border-bottom2
  margin-bottom 0
  padding-bottom: 84px;