@import '../../utilities/vars'
@import '../../utilities/mixins'

/* SECTIONS AND ARTICLES */
section {}

article {}

.container
  +displays()
    width 1200px

.justify-content-center
  justify-content center

.border-bottom
  border-bottom 1px solid #dbdbdb
  padding-bottom 99px
  margin-bottom 112px

.spacer-70-yellow
  width 100%
  height 70px
  background $yellow
  margin-bottom 103px

.spacer-video
  width 100%
  height 60px