@import "../../utilities/vars"
@import "../../utilities/mixins"

/* FOOTER */
footer
  padding-top 90px
  padding-bottom 15px
  p
    font-size 1.125em
    font-weight 700
  .link-footer
    font-weight 700
    color $text-color
    &:hover
      color $blue


.messengers
  display flex
  flex-direction row
  padding 0
  margin 0
  +mobile()
    margin-bottom 30px
  li
    list-style none
    margin-right 27px

.social-footer
  display flex
  flex-direction row
  margin 0
  padding 0
  +mobile()
    margin-bottom 30px
  li
    list-style none
    margin-right 25px
    a
      width 36px
      height 36px
      display flex
      justify-content center
      align-items center
      border-radius 50%
      color $text-color
      font-size 20px
      &:hover
        box-shadow: 1.5px 2.6px 7px 0 rgba(0, 0, 0, 0.15);

.copyright
  color $black
  font-size .875em
  text-align right
  font-weight 400
  line-height 55px
  +mobile()
    text-align left
.last-row
  padding 32px 0

