//- layouts/layout.pug
extend layouts/_layout2.pug

block title
    | Study & Ukraine - Университет

block content

    section.container.univ-benefits
        .row
            .offset-md-1.col-md-10
                h2 приемущества вуза
        .row
            .offset-md-1.col-md-10.col-lg-9
                ul.univ-benefits-list
                    li Наличие языковых курсов
                    li Мультиязычное обучение
                    li Наличие общежития
                    li Находится в столице
                    li.benefit-no Мировое признание диплома
                    li.benefit-no Диплом 2-го стандарта
                    li Студенческий городок
                    li.benefit-no Наличие экзаменов при поступлении
                    li Студенты по обмену с другими ВУЗами
                    li 100% Получение визы
                    li 100% Зачисление без экзаменов TOEFL, IELTS
                    li Студенты из 30 стран

    section.univ-main
            .container.degree
                .row
                    .offset-lg-1.col-lg-6
                        h2 Степень обучения
                        ul.slider-special
                                li
                                li
                                    a(href='' title='') курсы
                                li
                                    a(href='' title='' class='active') Бакалавр
                                li
                                    a(href='' title='') Магистр
                                li
                                    a(href='' title='') 2-е высшее
                                li
                                    a(href='' title='') Аспирант
                                li


                        ul.edu-prices
                            li СТОИМОСТЬ ОБУЧЕНИЯ ЗА ГОД
                            li.univ-price от 1300$
                        h2 направления обучения
                            span.counter 22
                        ul.categories
                            li Культура и искусство
                                ul
                                    li Режесура телебачення
                                    li Кінотелеоператорство
                                    li Режесура анімаціоннного фільму
                                    li Режесура телебачення
                                    li Режесура неігрового кіно
                                    li Фотомистецтво
                            li Социальные и поведенческие науки
                                ul
                                    li Режесура анімаціоннного фільму
                                    li Режесура телебачення
                                    li Режесура неігрового кіно
                                    li Фотомистецтво
                            li Журналистика
                            li Управления и администрирования крупных торговых отделений по поиску клиентов и продаж и бла бла
                            li Информационные технологии
                                ul
                                    li Режесура телебачення и тут тоже может быть слишком много текста про вкусные булочки
                                    li Кінотелеоператорство
                                    li Режесура анімаціоннного фільму
                                    li Режесура телебачення
                                    li Режесура неігрового кіно
                                    li Фотомистецтво
                            li Автоматизация и приборостроение
                            li Электроника и телекоммуникации в сферах которые добаляют больше текста, больше текста
                            li Естественные науки
                            li Механическая инженерия
                            li Производство и технологии
                            li Гуманитарные науки
                            li Право
                            li Биология
                            li Математика и статистика
                            li Химия и биоинженерия
                            li Архитектура и строительство
                            li Аграрные науки и продовольствие
                            li Охрана здоров'я
                            li Сфера обслуговування
            .container-fluid.training
                .container
                    .row
                        .offset-md-1.col-md-7
                            h2.white подготовка к поступлению в вузы украины
                            a(href='' title='' class='button') Начать подготовку
            .container
                .row.students
                    .offset-md-1.col-md-6
                        h2 Отзывы наших студентов
                        ul.about-list
                            li
                                a(href='' title='' class='icon-circle person-1')
                                    span
                                ul.about-person
                                    li
                                        .person-description
                                            h3 Gosha Deev
                                            p Здравствуйте! Все очень нравится - и проживание, и универ, и атмосфера среди студентов. В Праском академике отличные условия, все классно, красиво и аккуратно! В Козьминском очень интересно учиться, большинство преподавателей просто супер! Я еще привыкаю, но абсолютно не жалею, что приехала сюда!
                            li
                                a(href='' title='' class='icon-circle person-1')
                                    span
                                ul.about-person
                                    li
                                        .person-description
                                            h3 Gosha Deev
                                            p Здравствуйте! Все очень нравится - и проживание, и универ, и атмосфера среди студентов. В Праском академике отличные условия, все классно, красиво и аккуратно! В Козьминском очень интересно учиться, большинство преподавателей просто супер! Я еще привыкаю, но абсолютно не жалею, что приехала сюда!
            .container-fluid.official
                .container
                    .row
                        .offset-md-1.col-md-6
                            h2 Мы работаем только официально
                            p 100% гарантии поступления в этот университет. Мы официально работаем с этим университетом
                            a(href='' title='' class='document' target='_blank')
                                i.fa.fa-file-pdf-o
                                |  Просмотреть договор
            .affix-panel
                form
                    h4 Получить консультацию
                    input(type='text' placeholder='Ваше имя' class='error')
                    input(type='text' placeholder='E-mail')
                    input(type='text' placeholder='Ваш телефон')
                    .selectic
                        select
                            option Ваша страна
                            option Ваша страна
                            option Ваша страна
                    input(type='text' placeholder='Ваш город')
                    a(class='button' title='' href='') Отправить заявку
    section.univ-about
        .container.border-bottom.border-bottom2
            .row
                .offset-md-1.col-md-10
                    h2 О университете
                    .univ-about-container
                        p.two-cols Київський національний університет імені Тараса Шевченка – чи не найвідоміший вищий навчальний заклад України. Університет був заснований в далекому 1833 році згідно з указом російського імператора Миколи I як Київський Імператорський університет святого Володимира. Більш як за півтора століття свого існування він став осередком, де плекалися передові ідеї та виховувалася національна інтелігенція. Всі кампуси та корпуси розташовані у місті Києві, а Червоний корпус КНУ є ще й однією з головних архітектурних прикрас столиці. До речі, ботанiчний сад імені Академіка Олександра Фоміна, який так люблять жителі та гості Києва за його долину магнолій, також є частиною університету. Київський національний університет імені Тараса Шевченка має доволі розгалужену структуру, тому майбутні студенти серед загального переліку спеціальностей зможуть обрати саме ту, яка буде їм до вподоби: від журналістики і психології, до кібернетики та хімії.
                            br
                            | Вищий навчальний заклад має широкі міжнародні зв’язки, тому студенти КНУ мають змогу відвідувати лекції зарубіжних вчених та викладачів, які приїжджають з візитами, брати участь у міжнародних конференціях та стажуваннях. Окрім того, в стінах КНУ навчається велика кількість іноземних студентів, що ще раз засвідчує престижність університету не тільки в Україні, але й у світі. Київський національний університет імені Тараса Шевченка виховує ерудованих та висококваліфікованих фахівців, активних громадян, які здатні креативно та вільно мислити і аналізувати.
                    a(href='' title='' class='link-text' id='open-text') Развернуть