@import '../utilities/vars'
@import '../utilities/mixins'
@import 'partials/section'
@import 'partials/plates'
@import 'partials/icons'
@import 'partials/services'
@import 'partials/subscribe'
@import 'partials/help'
@import 'partials/map'
@import 'partials/about'
@import 'partials/benefits'
@import 'partials/amount'
@import 'partials/partners'
@import 'partials/slider'
@import 'partials/univ'
@import 'partials/modal'