$black = #000
$white = #fff
$main-font = "Proxima Nova"

$yellow = #ffcc00
$blue = #1f7fb6
$blue2 = #068edc

$text-color = #2d2d2d
$text-color2 = #525252
$text-color3 = #323232

$gray = #f9f9f9
$gray2 = #e2e2df
$gray3 = #c2c2c2

$green = #19941c
$red = #f11717
$purple = #c30dce
$orange = #ff6c00